<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>Russian Hill Beerworks <!-- <span ng-show="currentUser">{{ currentUser.name }}</span> --></h1>
  <p class="lead">
    <img src="images/russianhill.jpg" alt="Beer is good"><br>
    <p>
    Perfectly Engineered Beer
    </p>
  </p>
  <p></p>
  <p><a class="btn btn-lg btn-success" ng-href="https://www.facebook.com/RussianHillBeerworks">Check Out Our Facebook Page!</a></p>
</div>

<!-- <div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div> -->

<div class="footer">
  <p>
    <a href = "https://www.facebook.com/alex.wainwright.31">Alex Wainwright </a> 
    |
    <a href = "https://www.facebook.com/dangerbuck?fref=ts"> Buck Wallander</a>
  </p>
</div>
